  /* Fondo y altura completa de la pantalla */
  .app-container {
    background-color: white;
    min-height: 100vh;
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    color: #178582;
    padding: 0px 0px 0px 0px; /* Ajusta el espaciado interno */
  }

  .banner-img {
    max-width: 90%; /* Reduce en móviles */
    height: auto;
  }

  .full-height {
    min-height: 100vh; /* Ocupa el alto completo */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .loading-spinner {
    width: 3rem;
    height: 3rem;
  }
  
  @media (max-width: 768px) {
    .loading-spinner {
      width: 2rem;
      height: 2rem;
    }
  }
  
  .btn-login {
    width: auto;
    max-width: 200px; /* Limita el tamaño en pantallas grandes */
    min-width: 150px;
    background-color: #178582;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;    
  }
  
  @media (max-width: 768px) {
    .btn-login {
      width: 80%; /* En móviles se hace más ancho */
      max-width: 250px;
    }
  }

  .centered-col {
    width: 90%;
    max-width: 600px; /* Controla el ancho en pantallas grandes */
    text-align: center;
  }
  
  @media (min-width: 576px) { /* sm */
    .centered-col { width: 80%; }
  }
  
  @media (min-width: 768px) { /* md */
    .centered-col { width: 60%; }
  }
  
  @media (min-width: 992px) { /* lg */
    .centered-col { width: 50%; }
  }
  
  @media (min-width: 1200px) { /* xl */
    .centered-col { width: 40%; }
  }

  .custom-hr {
    border: none; /* Elimina el estilo predeterminado */
    border-top: 2px solid #BFA181; /* Color y grosor de la línea */
    width: 30%; /* Ajusta el ancho */
    margin: 1rem auto; /* Centra la línea con margen superior/inferior */
  }
  
  .user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px; /* Espacio entre elementos */
    color: #178582; /* Color personalizado */
}

h5.text-info {
  color:#178582 !important; /* Color personalizado */
  display: flex;
  justify-content: center;
  align-items: center;    
}

.custom-container {
  display: flexbox;
  justify-content: center; /* Alinea el contenido a la izquierda si es necesario */
  align-items: center;
  width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
  min-width: 100%; /* Asegura que no se reduzca dentro de otro contenedor */
  border-radius: 2px;  
  padding: 1rem;
  margin-top: 0.25rem;
  background-color: #0A1828;
  padding: 10px 0px 0px 50px; /* Ajusta el espaciado interno */
}

.list-container {
  display: flexbox;
  justify-content: center; /* Alinea el contenido a la izquierda si es necesario */
  align-items: center;
  width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
  min-width: 100%; /* Asegura que no se reduzca dentro de otro contenedor */
  border-radius: 4px;   
  margin: 10rem 0rem 0.25rem 0rem;
  color:#BFA181 !important;
  background-color:#0A1828 !important;  
  padding: 0.5rem 0rem 0.5rem 0rem; /* Ajusta el espaciado interno */
}

.btn-logout {
  width: auto;
  max-width: 200px; /* Limita el tamaño en pantallas grandes */
  min-width: 150px;
  background-color: #178582 !important;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;    
}

@media (max-width: 768px) {
  .btn-logout {
    width: 80%; /* En móviles se hace más ancho */
    max-width: 250px;
  }
}
  
.full-width-header {
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  position: fixed; /* Fija el header en la parte superior */
  top: 0;
  left: 0;
  right: 0; /* Asegura que llegue hasta el borde derecho */
  z-index: 1000; /* Asegura que esté sobre otros elementos */
  background-color: #fff; /* Ajusta el color según tu diseño */
  box-shadow: 0px 4px 6px #178582; /* Agrega sombra opcional */
  
}

/* Clase personalizada para la alerta */
.custom-alert {
  text-align: center;         /* Centra el texto */
  background-color:#9E2A2F !important;   /* Rojo cálido como fondo */
  color: #FFFFFF !important;              /* Texto blanco para buena legibilidad */
  border-color: #956B2E !important;       /* Borde con el color dorado oscuro */
  padding: 15px;              /* Espaciado interno para hacerla más legible */
  border-radius: 5px;         /* Bordes redondeados */
  font-size: 1.2rem;          /* Tamaño de la fuente */  
  box-shadow: 0px 4px 6px rgba(246, 245, 245, 0.1); /* Sombra suave */
  max-width: 90%;              /* Limita el ancho máximo al 80% del contenedor */
  margin: 0 auto;              /* Centra la alerta horizontalmente */
}  

/* Estilo con max-width */


/* Estilo con max-width */
.custom-max-width {
  max-width: 100% !important ;  /* Limitar el ancho al 90% */
  justify-content: center;
  text-align: center;
  margin-bottom: 0.5rem;
  border: 1px solid #BFA181; /* Puedes ajustar el color del borde */
  border-radius: 0.25rem; /* Puedes ajustar el radio de los bordes */
  font-size: 1rem;
  margin-left: 1rem; 
  margin-right: 1rem;
  margin-top: 1rem;
}

.custom-input {
  max-width: 100% !important ;
  display: flex !important; /* Establece el contenedor como flexbox */
  justify-content: flex-start !important; /* Distribuye los elementos con espacio entre ellos */
  margin: 0.1rem 0.5rem;
  color:#BFA181 !important;  
  box-sizing: border-box !important; /* Asegura que el padding y border no afecten el ancho total */
}


.custom-edit {
  display: flex; /* Establece el contenedor como flexbox */
  justify-content: left !important; /* Distribuye los elementos con espacio entre ellos */
  margin: 0;
  color:#BFA181 !important;
  border-radius: 0.2rem !important; /* Puedes ajustar el radio de los bordes */
  background-color:#0e3058 !important;
  max-width: 100% !important;
  border: 0.05rem solid #BFA181 !important; /* Puedes ajustar el color del borde */
}

.cursor-pointer{
  cursor: pointer !important;
}

.icon-cancel {
  color:#9E2A2F;
  cursor: pointer;
  transform: scale(1.2);
  margin-bottom: 0.25rem;
  margin-right: 0.75rem;
}

.icon-ok {
  color:#178582;
  cursor: pointer;
  transform: scale(1.2);
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
}

.icon-edit {
  color:#BFA181;
  cursor: pointer;
  transform: scale(1.2);
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
}

.icon-del {
  color:#BFA181;
  cursor: pointer;
  transform: scale(1.2);
  margin-bottom: 0.25rem;
}

.custom-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem 8rem 0.1rem 8rem;
  transform: scale(1.2);
  color: #178582;
}

.custom-span {
  transform: scale(1) !important;
}

.disabled {
  opacity: 0.5;
  pointer-events: none; /* Desactiva la interacción */
  cursor: not-allowed; /* Cambia el cursor a "no permitido" */
}
  
